{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title> Tic Tac Toe </title>
	<link href="{% static 'tictactoe/styles.css' %}" rel="stylesheet">
</head>
<body>
	<h1> Tic Tac Toe </h1>
	<div>
		<button formaction="{% url 'index'%}" class = "square"> </button>
		<button formaction="{% url 'index'%}" class = "square"> </button>
		<button formaction="{% url 'index'%}" class = "square"> </button>
	</div>
	<div>
		<button formaction="{% url 'index'%}" class = "square"> </button>
		<button formaction="{% url 'index'%}" class = "square"> </button>
		<button formaction="{% url 'index'%}" class = "square"> </button>
	</div>
	<div>
		<button formaction="{% url 'index'%}" class = "square"> </button>
		<button formaction="{% url 'index'%}" class = "square"> </button>
		<button formaction="{% url 'index'%}" class = "square"> </button>
	</div>
</body>
</html>
